body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Enables smooth scrolling */
}


header, main, footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}


header {
    background-color: #192a3e;
    color: #fff;
}


main {
    background-color: #2ecc71;
    color: #fff;
    display: flex;
    height: 110%;
    flex-direction: column;
    align-items: center;
}


footer {
    background-color: #3498db;
    color: #fff;
    height: 112.5%;
}


/* Style for column buttons */
.column-button {
background-color: #186696;
color: #fff;
border: 0px solid #2ecc71;
border-radius: 0px;
font-size: 28px;
cursor: pointer;
transition: background-color 0.5s ease;
width: 33.33%;
height: 110%;
float: left;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}


.column-button:hover {
    background-color: #154360;
    color: #fff;
}
.button-text {
transition: transform 0.75s ease;
}
.button-desc {
display: none;
transition: opacity 0.75s ease;
}
.column-button:hover .button-desc {
display: block;
opacity: 1;
}


/* Arrange buttons in three columns */
.column-container {
    display: flex;
    height: 110%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}