body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    font-family: 'Ubuntu', sans-serif;
}




header, main, footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}


header {
    background: linear-gradient(rgba(25, 42, 62, 1), rgba(0, 0, 0, 1));
    color: #fff;
      display: flex;
    align-items: center; /* Align items vertically in the center */
}


#header-img {
flex: 0 0 auto; /* Don't allow image to grow or shrink */
margin-right: 20px; /* Adjust margin between the columns */
}


#header-text {
flex: 1; /* Allow text to grow and take up available space */
}


main {
    background-color: #2ecc71;
    color: #fff;
    display: flex;
    height: 110%;
    flex-direction: column;
    align-items: center;
}


footer {
    background-color: #3498db;
   background: linear-gradient(rgba(0, 0, 0, 1), rgba(175, 175, 255, 0.375)), url("https://e3.365dm.com/19/04/768x432/skynews-star-sky-night-somerset_4641946.jpg?20190416234653");
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
    color: #fff;
    height: 112.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Style for column buttons */
.column-button {
background-color: rgba(0,0,0,0.25);
background: linear-gradient(rgba(0, 0, 0, 1), var(--button-color)), var(--button-image);
color: #fff;
border: 0px solid #2ecc71;
border-radius: 0px;
font-size: 48px;
cursor: pointer;
transition: background-color 0.5s ease;
width: 33.33%;
height: 110%;
float: left;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
transition:0.5s;
}
.column-button:hover {
    background: linear-gradient(var(--button-color), rgba(0, 0, 0, 1)), var(--button-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--button-font);
    font-size: 56px;
}


#b1{
--button-image: url("https://images.unsplash.com/photo-1613068687893-5e85b4638b56?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZnJvbnQlMjBlbmQlMjBkZXZlbG9wZXJ8ZW58MHx8MHx8fDA%3D");
--button-color: rgba(00,100,255,0.75);
--button-font: #3498db;
}
#b2{
--button-image: url("https://www.gousa.study/images/ms-in-game-development-engineering-in-usa.jpg");
--button-color: rgba(255,64,64,0.75);
--button-font: #e74c3c;
}
#b3{
--button-image: url("https://i.pinimg.com/736x/3b/35/5d/3b355d56c638122cff45c56fdcdad230.jpg");
--button-color: rgba(32,255,32,0.75);
--button-font: #2ecc71;
}


/* Arrange buttons in three columns */
.column-container {
    display: flex;
    height: 110%;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
#pp{
width: 350px;
height: 350px;
padding: 150px;
}

a{
    color:#00AAFF;
    font-size: 36px;
}

a:hover{
    color:#11BBFF;
    font-size: 40px;
}


td a{
font-size:32px;
padding-top: 16px;
opacity: 0.01;
transition: 0.5s;
}
td a:hover{
opacity: 1;
}


td{
padding-left: 72px;
padding-right: 72px;
padding-top: 0px;
padding-bottom: 0px;
font-size: 48px;
}
