body{
    background-color: lightskyblue;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 0;
    margin-left: 75px;
  }

#links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 75px;
}

.container{
    display: inline-flex;
    flex-direction: row;
}

#col, #colf{
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    height: inherit;

}

.navbar{
    background-color: #0E5A8A;
    color:white;
    
}

#colf{
    background-color: #BBE1C3;
}

.col1{
    background-color: #D3D3D3;
}

.col2{
    background-color: #8FCC99;
}

.col3{
    background-color: #006400;
}